{% extends 'blog/base.html' %}

{% block content %}

<div class="page">
    <h1>About PALKA</h1>
    <br><br>
    <div class="about-img">
        <img class="about-img" src="https://randomuser.me/api/portraits/men/34.jpg"></div>
    <div class="about-palka">
        <p>
        Re paragone creatura acerbita ai guardava lasciami vi. Entro tue forza miele mazzo per pur oltre sul. Lo ti il gabbie quanto lancio. Fato mare arme tu anch vi mine riso. Poi affannata ami cresciuto melagrani una abbandona brillanti. Far aspettando nel voluttuosa sei turbamento tra. Grappoli tuo inquieta cio orribile dissolve scoperto. Alzeremo voi parlando pei qualcuno serbatoi mio bellezza. Impregnato voi san esaltavano dal dal sfaldavano.
        </p>
    </div>
</div>
<div class="about">
</div>
{% endblock %}