p{
    font-size: 12pt;
    text-indent: 10px;
}
/*
* — page header and menu bars —
*/
.page-header {
    background-color: #007bff;
    margin-top: 0;
    padding-left: 150px;
    position: fixed;
    width: 100%;
    z-index: +1;
    display:inline-block;
    max-height: 100px;

}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: black;
    position: fixed;
    font-size: 42pt;
    text-decoration: none;
    font-family: 'Abril Fatface', cursive;
    max-height: 100px;
    margin-top: -25;
}
@media screen and (max-width: 900px){
    .page-header {
        padding-left: 10px;
     }
}
/* Menu bars */
 /* Add a background color to the top navigation */
.topnav {
  overflow: hidden;
}

.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  color: white;
  text-decoration: none;
}


.topnav .icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*
* — Posts —
*/
.content-container {
    position:relative;
    display:inline-block;
    padding-left: 10vw;
    padding-right: 10vw;
}
.post {
    padding:20px;
    background-color: white;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
    font-family: 'Abril Fatface', cursive;;
    font-size: 24pt;
}
}
.date {
    color: #828282;
}

.btn-container{
  margin: auto;
  height:44px;
  width:166.23px;

}
/*
* — Posts form —
*/
.post-form textarea{
    height: 600px;
    width: 1400px;

}
.save {
    float: right;
    padding-bottom: 10px;
}
.more {
    text-align:right;
}
.logo {
    position: relative;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: -1;
    vertical-align: top;
    width:100%;
    height:60%;
    padding:0;
    margin:0;
}
/*
* — Posts edit —
*/
.post-edit{
    padding-top: 50px;
    padding-bottom: 100px;

}
.post-edit button{
   position: absolute;
   left: 40%;
}
/*
* — User login panel—
*/

.login-panel {
    display:block;
    margin-top: 50%;

}
/*
* -- Post detail --
*/
.post-detail {
    padding-top: 80px;
    padding-bottom: 100px;
    text-align: justify;
}

/*
* -- Post draft list --
*/
.post-draft-list {
    display: inline-block;
    position:relative;
    top: -600;

}
/*
* -- About Palka page --
*/
.page {
    margin-left: 10vw;
    min-height: 100vh;
    padding-top: 10vh;
    width: 100%;

}
.page p {
    max-width: 80%;
    text-align: justify;
    font-size: 16pt;
}
.page h1 {
    font-size: 28pt;
    font-weight: bold;
}
.about {
    padding-top: 10vh;
    min-height: 100vh;
    display: block;
}
.about h1 {
    font-weight: bold;
    font-size: 24pt;
}
nav {
    font-size: 16pt;
}
.send {
    font-size:14pt;
}
#contact {
    display: inline-block;
    float; left;
    height: 60vh;
    width: 35vw;
    font-size: 14pt;
    font-size: Verdana;
    padding-top: 10vh;
    padding-bot: 5vh;
}
#contact p {
    font-size: 16pt;

}
#contact h1 {
    font-size: 22pt;
    font-weight: bold;

}
#map {
    display: inline-block;
    padding-top: 10vh;
    min-width: 40vw;
    padding-left: 2vw;

}
iframe {
    display: inline-block;
    width: 100%;
    height: 100%;
    max-height: 60vh;

}
#contact textarea {
    max-width: 100%;
    min-width: 220px;
    max-height: 30vh;
    min-height: 25vh;
    resize: none;

}
@media screen and (max-width: 800px){
  .post h1 a{
     font-size:24pt;

   }
  #contact p {
    font-size: 12pt;

  }
  #contact h1 {
    font-size: 18pt;
    font-weight: bold;
    }
}
@media screen and (max-width: 600px){
  .post h1 a{
     font-size:18pt;

   }
  #contact p {
    font-size: 12pt;

  }
  #contact h1 {
    font-size: 16pt;
    font-weight: bold;
    }
}